<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>EasyShop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load style sheets -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="resources/css/font-awesome.min.css" rel="stylesheet">

    <!-- Load supplemental Javascript -->
    <script type="text/javascript" src="resources/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="resources/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="resources/js/index.js"></script>

    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <link rel="stylesheet" href="resources/css/search_results.css" />

</head>
    <% 
		$i = @items.count 
		$numRows = 2
		$numColumns = 2
		$k = 0
	%>
     <div class="row">
      <a class="dropdown-toggle" id="sort-label" data-toggle="dropdown" data-target="#" href="#">
        <div class="dropdown btn span6 offset3">
          Sort by:
          <b class="caret"></b>
        <ul class="dropdown-menu" role="menu" aria-labelledby="sort-label">
          <li><%= link_to "Alphabetical (Descending)", request.fullpath+"&order=alpha&direction=desc" %></li>
          <li><%= link_to "Alphabetical (Ascending)", request.fullpath+"&order=alpha&direction=asc" %></li>
          <li><%= link_to "Relevance", request.fullpath+"&order=relevance" %></li>
          <li><%= link_to "Price (Low to High)", request.fullpath+"&order=price&direction=asc" %></li>
          <li><%= link_to "Price (High to Low)", request.fullpath+"&order=price&direction=desc" %></li>
        </ul>
        </div>
      </a>
    </div>
       <% while $k < $numRows and $i > 0  do %>
  <div class="row">
		<% $j = 0 %>
		<% while $j < $numColumns and $i > 0 do %> 
        <div class="span6 well item-result" style="height:600px;position:relative;">
          <h2><%= link_to @items[-($i-@items.count)].name, @items[-($i-@items.count)] %></h2>
		<%= link_to image_tag(@items[-($i-@items.count)].image, :style => 'height:250px;width:250px;'), @items[-($i-@items.count)] %>
<%= link_to image_tag(@items[-($i-@items.count)].image, :style => 'height:125px;width:125px;position:relative;margin-left:150px;margin-bottom: 140px;'), @items[-($i-@items.count)] %>
            
          <p style="padding-top: 15px;"><%= truncate(@items[-($i-@items.count)].description, :length => 275, :separator => ' ') %><%= link_to "        Read More>", @items[-($i-@items.count)] %></p>
	<h2 style="padding-top:0px; font-size:4em;"> $<%= @items[-($i-@items.count)].price %> </h2>
			<div class="btn-group" style="margin-left:187px;position:absolute;top:87%;">
					<%= link_to "More Information", @items[-($i-@items.count)], :class => 'btn btn-large' %>
					<%= link_to "Add to Cart", '#', :class => 'btn btn-primary btn-large' %>
    			</div>
        </div>
		<% $i -= 1 %>
		<% $j += 1 %>
		<% end %>
    </div>
	<% $k += 1 %>
	<% end %>

<br />
