<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>EasyShop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load style sheets -->
    <link rel="shortcut icon" href="resources/img/temp_logo.png" type="image/x-icon" />
    <link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="resources/css/font-awesome.min.css" rel="stylesheet">

    <!-- Load supplemental Javascript -->
    <script type="text/javascript" src="resources/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="resources/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="resources/js/simpleCart.js"></script>
    <script type="text/javascript" src="resources/js/forms.js"></script>
<style type="text/css">

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.four_star {
  color: gray;
}
  

</style>

</head>
  <div class="container simpleCart_shelfItem" style="padding-top:5px">
      <!-- Row 1 -->
      <div class="row">
        <div class="span10">
          <h1 class="item_name"><%= @item.name%></h1>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="row">
        <div class="span4 offset4">
          <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner" >
              <div class="active item caro_img" style="padding-left:50px;"><img style="height:200px;width:200px;" src=<%= @item.image %>></div>
              <div class="item caro_img" style="padding-left:50px;"><img style="height:200px;width:200px;" src=<%= @item.image1 %>></div>
              <div class="item caro_img" style="padding-left:50px;"><img style="height:200px;width:200px;" src=<%= @item.image2 %>></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>  
        </div>
      </div>

      <!-- Row 3 -->
      <div style="font-size: 1.5em;" class="row">
        <div class="span8">
          <h2>Description</h2>
            <%= @item.description%>
        </div>
        <div class="span3 offset1">
            <h2 class="item_price">$<%= @item.price%></h2>
            <%= button_to "Add to Cart", line_items_path(:item_id => @item.id), :class=>"btn item_add", :style=>"font-size: 1em"%>
        </div>
      </div>
      
      <!-- Row 4 -->
      <div class="row">
        <div class="span5">
            <h2>Customer Support</h2>
        </div>
        <div class="span3 offset3" style="padding: 20px;font-weight: bold;font-size: 2em;">
            1-800-888-8888         
        </div>
      </div>
      
      <!-- Row 5 -->
      <div class="row">
        <div class="span8">
          <h2>Reviews</h2>
	  Overall Rating:
	  <div class="four_star">
		<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆
                   </span>
	  </div>
        </div>
        <div class="span3 offset1">
            <a href="#reviewModal" style="font-size: 1.5em;" class="btn" data-toggle="modal">Add Review</a>
        </div>
      </div>
      
      <!-- Row 6 -->
      <div class="accordion" id="accordion2" style="font-size: 1.5em">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion2" href="#collapseOne">
              Great ball but ...
            </a>
	    <div class="rating">
		<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆
                   </span>
	    </div>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              Great ball, great grip, but was a little too heavy for me. 
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion2" href="#collapseTwo">
              Excellent basketball    (5/5)
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              I play mostly indoor and it has been great for me. It has lasted
              me a long time and would definitely buy it again. 
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion2" href="#collapseThree">
              Great ball    (5/5)
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              Great quality, long lasting, a great buy
            </div>
          </div>
        </div>
    </div>
    
    <div class="container">
      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div>


      <div id="reviewModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signUpModal" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Review this product! <small>(will not submit any information)</small></h3>
        </div>
        <div class="modal-body">
          <form action="" id="reviewForm" method="get" class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="rating">Rating</label>
              <div class="rating" style="padding:25px;height:25px;">
		<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆
                   </span>
	      </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="reviewTitle">Review Title</label>
              <div class="controls">
                <input id="reviewTitle" type="text" size="30" placeholder="Review Title"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="reviewContent">Review Content</label>
              <div class="controls">
                <textarea id="reviewContent" rows="3" placeholder="Add your review"/></textarea>
              </div>
            </div>
          </form>
        </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-success" data-dismiss="modal" href="">Submit Review</button>
      </div>
    </div>

